#
# Network Context Module Configuration
#
# SEC_PRODUCT_FEATURE_KNOX_SUPPORT_NPA {
config KNOX_NCM
  tristate "Network Context Module Support"
  depends on NET
  default n
# SEC_PRODUCT_FEATURE_KNOX_SUPPORT_NPA }
